:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  --gray-1: var(--surface2);
  --gray-2: var(--surface1);
  --gray-3: var(--surface0);
  --gray-4: var(--mantle);
  --gray-5: var(--mantle);
  --gray-6: var(--base);
  --white-1: var(--text);
  --white-2: var(--subtext1);
}

@media (prefers-color-scheme: light) {
  :root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --gray-1: var(--surface2);
    --gray-2: var(--surface1);
    --gray-2_5: var(--surface2);
    --gray-3: var(--surface0);
    --gray-4: var(--mantle);
    --gray-5: var(--base);
    --gray-6: var(--subtext1);
    --white-1: var(--text);
    --white-2: var(--text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --gray-1: var(--surface2);
    --gray-2: var(--surface1);
    --gray-3: var(--surface0);
    --gray-4: var(--mantle);
    --gray-5: var(--mantle);
    --gray-6: var(--base);
    --white-1: var(--text);
    --white-2: var(--subtext1);
  }
}

[data-theme="light"] {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  --gray-1: var(--surface2);
  --gray-2: var(--surface1);
  --gray-2_5: var(--surface2);
  --gray-3: var(--surface0);
  --gray-4: var(--mantle);
  --gray-5: var(--base);
  --gray-6: var(--subtext1);
  --white-1: var(--text);
  --white-2: var(--text);
}

[data-theme="dark"] {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  --gray-1: var(--surface2);
  --gray-2: var(--surface1);
  --gray-3: var(--surface0);
  --gray-4: var(--mantle);
  --gray-5: var(--mantle);
  --gray-6: var(--base);
  --white-1: var(--text);
  --white-2: var(--subtext1);
}

#category-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  visibility: hidden;
}

#category-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  max-width: 850px;
  max-height: 60vh;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background: var(--gray-3);
  display: none;
  visibility: hidden;
  line-height: 140%;
}

#category-modal-content {
  display: relative;
  max-height: calc(100% - 5rem);
  overflow: auto;
}

#category-modal-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

#category-modal-bg.open,
#category-modal.open {
  display: block;
  visibility: visible;
}

.modal-article,
.modal-article-date {
  display: block;
  color: var(--white-2);
}

.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.modal-article-date {
  font-size: 0.8rem;
}

.modal-article:hover {
  background: var(--gray-4);
}

hr {
  border-top: 2px dashed var(--white-2) !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 1.75rem !important;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: normal;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--white-1);
  color: var(--gray-5);
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

pre:hover .copy-code-button {
  opacity: 1;
}

.copy-code-button:hover {
  background-color: var(--white-2);
}

[data-theme="light"] .copy-code-button {
  background-color: var(--gray-2);
  color: var(--white-1);
}

[data-theme="light"] .copy-code-button:hover {
  background-color: var(--gray-3);
}

@media (prefers-color-scheme: light) {
  .copy-code-button {
    background-color: var(--gray-2);
    color: var(--white-1);
  }

  .copy-code-button:hover {
    background-color: var(--gray-3);
  }
}
