/* syntax */

.highlight .hll {
  background-color: var(--gray-1);
}
.highlight {
  color: var(--text);
  font-family: "JetBrains Mono", monospace;
  font-variant-ligatures: none;
  letter-spacing: 0.02em;
}
.highlight .c {
  color: var(--overlay0);
  font-style: italic;
} /* Comment */
.highlight .err {
  color: var(--red);
} /* Error */
.highlight .g {
  color: var(--text);
} /* Generic */
.highlight .k {
  color: var(--mauve);
} /* Keyword */
.highlight .l {
  color: var(--text);
} /* Literal */
.highlight .n {
  color: var(--text);
} /* Name */
.highlight .o {
  color: var(--sky);
} /* Operator */
.highlight .x {
  color: var(--text);
} /* Other */
.highlight .p {
  color: var(--overlay2);
} /* Punctuation */
.highlight .cm {
  color: var(--overlay0);
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: var(--red);
  font-style: italic;
} /* Comment.Preproc */
.highlight .c1 {
  color: var(--overlay0);
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: var(--overlay0);
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: var(--red);
} /* Generic.Deleted */
.highlight .ge {
  color: var(--text);
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: var(--red);
} /* Generic.Error */
.highlight .gh {
  color: var(--blue);
} /* Generic.Heading */
.highlight .gi {
  color: var(--green);
} /* Generic.Inserted */
.highlight .go {
  color: var(--subtext0);
  background-color: var(--gray-4);
} /* Generic.Output */
.highlight .gp {
  color: var(--overlay1);
} /* Generic.Prompt */
.highlight .gs {
  color: var(--text);
} /* Generic.Strong */
.highlight .gu {
  color: var(--blue);
} /* Generic.Subheading */
.highlight .gt {
  color: var(--red);
} /* Generic.Traceback */
.highlight .kc {
  color: var(--mauve);
} /* Keyword.Constant */
.highlight .kd {
  color: var(--mauve);
} /* Keyword.Declaration */
.highlight .kn {
  color: var(--mauve);
} /* Keyword.Namespace */
.highlight .kp {
  color: var(--mauve);
} /* Keyword.Pseudo */
.highlight .kr {
  color: var(--mauve);
} /* Keyword.Reserved */
.highlight .kt {
  color: var(--yellow);
} /* Keyword.Type */
.highlight .ld {
  color: var(--text);
} /* Literal.Date */
.highlight .m {
  color: var(--peach);
} /* Literal.Number */
.highlight .s {
  color: var(--green);
} /* Literal.String */
.highlight .na {
  color: var(--blue);
} /* Name.Attribute */
.highlight .nb {
  color: var(--text);
} /* Name.Builtin */
.highlight .nc {
  color: var(--text);
} /* Name.Class */
.highlight .no {
  color: var(--peach);
} /* Name.Constant */
.highlight .nd {
  color: var(--mauve);
} /* Name.Decorator */
.highlight .ni {
  color: var(--text);
} /* Name.Entity */
.highlight .ne {
  color: var(--red);
} /* Name.Exception */
.highlight .nf {
  color: var(--blue);
} /* Name.Function */
.highlight .nl {
  color: var(--text);
} /* Name.Label */
.highlight .nn {
  color: var(--text);
} /* Name.Namespace */
.highlight .nx {
  color: var(--text);
} /* Name.Other */
.highlight .py {
  color: var(--text);
} /* Name.Property */
.highlight .nt {
  color: var(--mauve);
} /* Name.Tag */
.highlight .nv {
  color: var(--mauve);
} /* Name.Variable */
.highlight .ow {
  color: var(--teal);
} /* Operator.Word */
.highlight .w {
  color: var(--overlay0);
} /* Text.Whitespace */
.highlight .mf {
  color: var(--peach);
} /* Literal.Number.Float */
.highlight .mh {
  color: var(--peach);
} /* Literal.Number.Hex */
.highlight .mi {
  color: var(--peach);
} /* Literal.Number.Integer */
.highlight .mo {
  color: var(--peach);
} /* Literal.Number.Oct */
.highlight .sb {
  color: var(--green);
} /* Literal.String.Backtick */
.highlight .sc {
  color: var(--green);
} /* Literal.String.Char */
.highlight .sd {
  color: var(--green);
} /* Literal.String.Doc */
.highlight .s2 {
  color: var(--green);
} /* Literal.String.Double */
.highlight .se {
  color: var(--green);
} /* Literal.String.Escape */
.highlight .sh {
  color: var(--green);
} /* Literal.String.Heredoc */
.highlight .si {
  color: var(--green);
} /* Literal.String.Interpol */
.highlight .sx {
  color: var(--green);
} /* Literal.String.Other */
.highlight .sr {
  color: var(--green);
} /* Literal.String.Regex */
.highlight .s1 {
  color: var(--green);
} /* Literal.String.Single */
.highlight .ss {
  color: var(--green);
} /* Literal.String.Symbol */
.highlight .bp {
  color: var(--text);
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: var(--mauve);
} /* Name.Variable.Class */
.highlight .vg {
  color: var(--mauve);
} /* Name.Variable.Global */
.highlight .vi {
  color: var(--mauve);
} /* Name.Variable.Instance */
.highlight .il {
  color: var(--peach);
} /* Literal.Number.Integer.Long */
